# Backend / Java
/build/
/out/
/.gradle/
*.iml
/.idea/
/target/
*.log

# Flutter
app_flutter/build/
app_flutter/.dart_tool/
app_flutter/.packages
app_flutter/ios/
app_flutter/android/
app_flutter/windows/
app_flutter/web/.dart_tool/

# OS / misc
.DS_Store
Thumbs.db

# Node / JavaScript
node_modules/
ui/node_modules/

# Environment Variables (Secrets)
.env
.env.local
.env.production
*.env
!.env.example
!.env.production.example
